stages:
  - deploy

workflow:
  rules:
    # Regra para verificar se a variável EXECUTE_PIPELINE é definida como "true"
    - if: '$EXECUTE_PIPELINE == "true"'
    - when: never  # Não executa por padrão a cada commit

deploy:
  stage: deploy
  image: docker:latest
  tags:
    - teste
  retry: 2
  script:
    - echo "Executando job..."
    - apk add --no-cache curl
    - sleep $((CI_JOB_RETRY_COUNT * 60))  # Delay progressivo (1 min, 2 min, 3 min...)

    # cria rede se não existir
    - docker network create traefik || true

    # normaliza nome de projeto
    - raw="${CI_PROJECT_NAME}_${CI_PIPELINE_ID}"
    - safe=$(echo "$raw" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9_-]/-/g')
    - export COMPOSE_PROJECT_NAME="$safe"

    # sobe sem derrubar execuções anteriores
    - docker compose up --build

  artifacts:
    when: always
    paths:
      - relatorios/
      - downloads/
    expire_in: 1 week